body {
}
        #DDLGroupList {
            width: 100%;
        }

        #DDLTypeList {
            width: 100%;
        }

        .auto-style1 {
            width: 100%;
        }

        .auto-style2 {
            width: 430px;
        }

        .auto-style3 {
            width: 378px;
        }

        .auto-style4 {
            width: 108px;
        }

        .auto-style5 {
            width: 114px;
        }

        .auto-style6 {
            width: 23px;
        }